<h1>{{title}}</h1>

<ul class="form-style-1">
  <li><label>Full Name <span class="required">*</span></label><input type="text" [(ngModel)]="userRegistrationFM.firstName" class="field-divided" placeholder="First" />&nbsp;<input type="text" [(ngModel)]="userRegistrationFM.lastName" class="field-divided" placeholder="Last" /></li>
  <li>
    <label>Email <span class="required">*</span></label>
    <input type="email" [(ngModel)]="userRegistrationFM.email" class="field-long" />
  </li>
  <li>
    <label>Username </label>
    <input type="text" [(ngModel)]="userRegistrationFM.userName" class="field-long" placeholder="username" />
  </li>
  <li>
    <label>Password </label>
    <input type="password" [(ngModel)]="userRegistrationFM.password" class="field-long" placeholder="password" />
  </li>
  <li>
    <input type="submit" value="submit" (click)="submit()" />
  </li>
</ul>
